files:
  "/etc/awslogs/awslogs.conf":
    content: |
      [general]
      state_file = /var/awslogs/state/agent-state
      
      [/var/log/eb-engine.log]
      file = /var/log/eb-engine.log
      log_group_name = /aws/elasticbeanstalk/studentperformance/eb-engine.log
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%dT%H:%M:%S.%fZ
      
      [/var/log/nginx/access.log]
      file = /var/log/nginx/access.log
      log_group_name = /aws/elasticbeanstalk/studentperformance/nginx-access.log
      log_stream_name = {instance_id}
      datetime_format = %d/%b/%Y:%H:%M:%S %z
      
      [/var/log/nginx/error.log]
      file = /var/log/nginx/error.log
      log_group_name = /aws/elasticbeanstalk/studentperformance/nginx-error.log
      log_stream_name = {instance_id}
      datetime_format = %d/%b/%Y:%H:%M:%S %z
      
      [/var/log/flask-app.log]
      file = /var/log/flask-app.log
      log_group_name = /aws/elasticbeanstalk/studentperformance/flask-app.log
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S,%f
      
      [/var/log/gunicorn-error.log]
      file = /var/log/gunicorn-error.log
      log_group_name = /aws/elasticbeanstalk/studentperformance/gunicorn-error.log
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S,%f

packages:
  yum:
    awslogs: []

services:
  sysvinit:
    awslogs:
      enabled: true
      ensureRunning: true
      commands:
        - start
        - enable
