body {
  font-family: Arial, sans-serif;
  background-color: #1F2833;
  /* Deep Sapphire */
}

.top-left-link {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #66E1D3;
  /* Turquoise gem */
  border-radius: 5px;
  font-size: 16px;
  color: #1F2833;
  /* Deep Sapphire for contrast */
  text-decoration: none;
  font-weight: bold;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding: 20px;
}

.form-box {
  max-width: 800px;
  margin: 0 auto;
  background-color: #C5C6C7;
  /* Silver background */
  padding: 20px;
  border: 1px solid #0B0C10;
  /* Almost Black */
  border-radius: 4px;
}

h1,
h2 {
  text-align: center;
  color: #66FCF1;
  /* Neon Blue */
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #45A29E;
  /* Metallic Blue */
}

input[type="text"],
select {
  padding: 10px;
  border: 1px solid #45A29E;
  /* Metallic Blue */
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

input[type="submit"] {
  background-color: #45A29E;
  /* Metallic Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background-color: #66E1D3;
  /* Turquoise gem */
}

.form-group {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  width: 30%;
}

.form-group label {
  margin-bottom: 5px;
}